/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #142C50;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #FFF;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #E93E3E;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: white;
}
body {
  color: rgb(73, 73, 73);
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.1);
  /*box-shadow: inset 0px 0px 5px rgba(255, 0, 0, 0.8)*/
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
  text-align: center;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 0px;
  margin-bottom: 10px;
  background: url('./images/logo-trans.png') bottom left no-repeat;
  width: 204px;
  height: 82px;
  /*text-indent: -9999px;*/
  margin: auto;
  height: 182px;
  padding-left: 17px;
}
.masthead-brand img {
  margin-top: -3px;
}

.masthead-nav {
  margin-top: 0px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #142C50; /* IE8 proofing */
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #F30000;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #FFFF18;
  border-bottom-color: rgb(138, 138, 138);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.72);
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
    position: absolute;
    top: 4px;
  }
  .masthead-nav {
    float: right;
    margin-top: -10px;
  }
}


/*
 * Cover
 */

.cover {
  padding: 10px 20px;
  background-color: #F1F1F1;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #838383; /* IE8 proofing */
  color: rgba(117, 117, 117, 1);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  .masthead-brand {
    border: 1px solid rgb(228, 228, 228);
    background-color: white;
  }
  .masthead-nav {
    float: left;
    margin-left: 250px;
  }
  .mastfoot .inner {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px 20px;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

  .cover-container {
    margin-top: 120px;
    height: 84%;
  }
}

@media (min-width: 1152px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
  .masthead-brand {
    position: fixed;
    left: 5px;
    top: 20px;
    border: none;
  }
  .masthead-nav {
    margin-left: -20px;
    margin-top: 0px;
  }
  .mastfoot .inner {
    position: fixed;
  }
  .cover-container {
    margin-top: 70px;
    height: 84%;
  }
}
